<%= form_for :post, url: posts_path, remote: true do |form| %>
  <div>
    <%= form.text_field :text, placeholder: 'Input post text here' %>
  </div>
  <div>
    <%= form.submit 'Create post' %>
  </div>
<% end %>
